<script>
 const darken = () => {
    document.documentElement.classList.add('dark');
    localStorage.DarkMode = 1; 
  }

  const lighten = () => {
    document.documentElement.classList.remove('dark');
    localStorage.DarkMode = 0; 
  }

  const toggleDarkMode = () => {
    btn = document.getElementById("lightswitch");
    if (document.documentElement.classList.contains('dark')) {
      lighten();
      btn.setAttribute('aria-label', 'Slå på lyset på siden');
      btn.setAttribute('aria-checked', 'false');
    } else {
      darken();
      btn.setAttribute('aria-label', 'Slå av lyset på siden');
      btn.setAttribute('aria-checked', 'true');
    }
  }

  const setDarkMode = () => {
    if (localStorage.DarkMode == 1) {
      darken();
    } else {
      lighten();
    }
  }

  setDarkMode();
  
  document.addEventListener(
    'DOMContentLoaded',
    function () {
      const lightswitch = document.querySelector('#lightswitch');
      lightswitch.addEventListener('click', toggleDarkMode);
    },
    false
  );

</script>